body {
  margin: 0;
  background-color: #323048;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.App {
  width: 500px;
  border-radius: 30px;
  padding: 40px;
  background-color: #fff;
  /* position: relative; */
}

.result {
  text-align: center;
}

.btn {
  font-weight: bold;
  border-radius: 30px;
  border: 0;
  padding: 15px 30px;
  font-size: 20px;
  background-color: plum;
  color: #fff;
  margin-top: 20px;
  cursor: pointer;
}

h2 {
  margin-bottom: 0;
}

img {
  width: 150px;
}

.progress {
  height: 10px;
  border-radius: 30px;
  background-color: rgb(232, 232, 232);
  margin-bottom: 25px;
}

.progress__inner {
  height: 100%;
  border-radius: 30px;
  width: 80%;
  background: rgb(18, 231, 48);
  transition: all 0.3s ease-in-out;
  background: linear-gradient(
    90deg,
    rgba(18, 231, 48, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
}

h1 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 25px;
}

li {
  padding: 15px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  font-size: 16px;
}

li:hover {
  border: 2px solid rgba(0, 0, 0, 0.3);
}

@media (max-width: 400px) {
  .App {
    width: 350px;
    border-radius: 30px;
    padding: 10px;
    background-color: #fff;
  }
  h1 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }
}
